.cbax-analytics-sales-by-promotion-grid {
    .cbax-analytics-sales-by-promotion-grid-headline {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        margin-top:25px;
        padding: 10px;
    }
}