{% block nfx_analytics_index %}
<div class="nfx-modern-layout theme-light-apple" :class="'theme-' + currentTheme">
    <!-- Header -->
    <div class="nfx-modern-header">
        <div class="nfx-modern-header__brand">
            <span class="nfx-modern-header__icon">✨</span>
            <h1 class="nfx-modern-header__title">Magic Analytics</h1>
        </div>
        <div class="nfx-modern-header__info" v-if="!isLoading && displayOptions">
            <span class="nfx-modern-header__date">
                {{ $t('nfx-analytics.index.dates.from') }} {{ startDateHeadline }} 
                {{ $t('nfx-analytics.index.dates.to') }} {{ endDateHeadline }}
            </span>
        </div>
        <div class="nfx-modern-header__actions">
            <button class="nfx-button nfx-button--secondary" @click="onRefresh">
                <sw-icon name="regular-sync" size="16"></sw-icon>
                {{ $tc('nfx-analytics.component.displayOptions.refreshButton') }}
            </button>
            <button class="nfx-button nfx-button--primary" @click="exportCSV">
                <sw-icon name="regular-download" size="16"></sw-icon>
                {{ $tc('nfx-analytics.index.labelActionExport') }}
            </button>
        </div>
    </div>

    <!-- Main Layout -->
    <div class="nfx-modern-body">
        <!-- Sidebar -->
        <div class="nfx-modern-sidebar">
            <div class="nfx-modern-sidebar__content">
                <nfx-analytics-tree
                    v-if="!modulStarting"
                    :showTree="true"
                    :activeStatisticName="activeStatisticName"
                    @nfx-statistic-selection="changeStatistic">
                </nfx-analytics-tree>
            </div>
            <div class="nfx-modern-sidebar__footer">
                <a :href="manualLink" target="_blank" rel="noopener" class="nfx-modern-sidebar__link">
                    {{ $t('nfx-analytics.general.manualLink') }}
                </a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="nfx-modern-main">
            <div class="nfx-card nfx-card--main" v-if="!isLoading">
                <div class="nfx-card__header" v-if="activeStatistic">
                    <h2 class="nfx-card__title">{{ activeStatistic.name }}</h2>
                </div>
                <div class="nfx-card__body">
                    <component
                        v-if="activeComponentName != '' && displayOptions"
                        :is="activeComponentName"
                        :activeStatistic="activeStatistic"
                        :displayOptions="displayOptions"
                        :systemCurrency="systemCurrency"
                        :grossOrNet="grossOrNet"
                        @nfx-statistics-csv_done="downloadCSV"
                        :format="format"
                        :customOptions="customOptions">
                    </component>
                    <div v-else class="nfx-empty-state">
                        <div class="nfx-empty-state__icon">📊</div>
                        <h3 class="nfx-empty-state__title">{{ $t('nfx-analytics.index.emptyStateHeadline') }}</h3>
                        <p class="nfx-empty-state__text">Select a statistic from the navigation to view analytics data.</p>
                    </div>
                </div>
            </div>
            <div v-else class="nfx-loading nfx-loading--centered">
                <div class="nfx-loading__spinner"></div>
            </div>
        </div>

        <!-- Right Sidebar (Filters) -->
        <div class="nfx-modern-filters" v-if="activeComponentName">
            <div class="nfx-modern-filters__section">
                <h3 class="nfx-modern-filters__title">
                    <sw-icon name="regular-filter" size="16"></sw-icon>
                    {{ $tc('nfx-analytics.index.labelSidebarFilterOptions') }}
                </h3>
                <div class="nfx-modern-filters__content">
                    <nfx-analytics-display-options
                        :filterOptions="filterOptions">
                    </nfx-analytics-display-options>
                </div>
            </div>
            
            <div class="nfx-modern-filters__section" v-if="showMoreFilters">
                <h3 class="nfx-modern-filters__title">
                    <sw-icon name="regular-plus-circle" size="16"></sw-icon>
                    {{ $tc('nfx-analytics.index.labelSidebarMoreFilter') }}
                </h3>
                <div class="nfx-modern-filters__content">
                    <nfx-analytics-more-filters
                        :activeMoreFilterNumber="activeMoreFilterNumber"
                        :activeStatisticName="activeStatisticName"
                        @filter-changeShowParents="onFilterChangeShowParents"
                        :filterOptions="filterOptions">
                    </nfx-analytics-more-filters>
                </div>
            </div>
        </div>
    </div>

    <!-- Theme Switcher -->
    <nfx-theme-switcher></nfx-theme-switcher>
</div>
{% endblock %}