<div>
    <span v-if="!isLoading && !profitLoading && profit != null && systemCurrency">
        {{ currencyFilter(profit, systemCurrency.isoCode, 2) }}
    </span>
    <span v-else>-</span>

</div>


