{% block nfx_analytics_search_terms %}
    <div>

        {% block nfx_analytics_search_terms_grid %}
            <sw-card positionIdentifier="'test'" class="nfx-analytics-content-card-grid nfx-analytics-search-terms-grid"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showTable == 1">

                {% block nfx_analytics_search_terms_grid_data %}
                    <div v-if="displayOptions.dashboard" class="nfx-analytics-grid-label">
                        {{ $tc(activeStatistic.label) }}
                    </div>

                    <div v-if="!gridSeriesData || (gridSeriesData && gridSeriesData.length == 0)" class="nfx-analytics-empty-state-wrapper">
                        <sw-empty-state :title="$tc('nfx-analytics.index.noData')"></sw-empty-state>
                    </div>

                    <sw-data-grid v-else
                          :dataSource="gridSeriesData"
                          :columns="getGridColumns"
                          :showSelection="false"
                          :sort-by="sortBy"
                          :sort-direction="sortDirection"
                          @column-sort="onColumnSort"
                          :showActions="false">

                        <template #pagination>
                            {% block nfx_analytics_search_terms_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>

                    </sw-data-grid>
                {% endblock %}

            </sw-card>

            {% block nfx_analytics_search_terms_help %}
                <sw-alert
                        v-if="!displayOptions.dashboard"
                        :appearance="'notification'"
                        :showIcon="false"
                        :closable="false"
                        :variant="'neutral'"
                        :title="$tc('nfx-analytics.general.help')"
                >
                    <div class="nfx-analytics-description">
                        {{ $tc('nfx-analytics.view.searchTerms.description') }}
                    </div>
                </sw-alert>
            {% endblock %}

        {% endblock %}

    </div>
{% endblock %}
