{% block nfx_analytics_category_impressions %}
    <div class="nfx-analytics-category-impressions">

        {% block nfx_analytics_category_impressions_chart %}
            <sw-card positionIdentifier="'test'" class="nfx-analytics-content-card-chart nfx-analytics-count-by-categories-chart"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showChart == 1">

                {% block nfx_analytics_category_impressions_chart_data %}
                    <sw-chart
                            v-if="isLoading == false && chartType != null"
                            :type="chartType"
                            :series="chartSeriesData"
                            :options="chartOptions"
                            sort>
                    </sw-chart>
                {% endblock %}

                <div class = "nfx-analytics-charttype-select-container">
                    {% block nfx_analytics_category_impressions_select_box %}
                        <sw-select-field class="nfx-analytics-charttype-select"
                                        :label="$tc('nfx-analytics.view.chartSelection.selectLabel')"
                                        :placeholder="$tc('nfx-analytics.view.chartSelection.placeholder')"
                                        :value="chartType"
                                        @update:value="onChangeField($event, 'chartType')">
                            <option value="bar">{{  $tc('nfx-analytics.view.chartSelection.bar') }}</option>
                            <option value="pie">{{ $tc('nfx-analytics.view.chartSelection.pie') }}</option>
                            <option value="donut">{{ $tc('nfx-analytics.view.chartSelection.donut') }}</option>
                        </sw-select-field>
                    {% endblock %}

                    {% block nfx_analytics_category_impressions_overall_box %}
                        <div v-if="overallData != null" class="nfx-analytics-category-impressions-grid-sums">
                            <span>{{ $tc('nfx-analytics.view.categoryImpressions.total') }} {{ overallData }}</span>
                        </div>
                    {% endblock %}
                </div>

            </sw-card>
        {% endblock %}

        {% block nfx_analytics_category_impressions_grid %}
            <sw-card positionIdentifier="'test'" class="nfx-analytics-content-card-grid nfx-analytics-count-by-categorys-grid"
                     :isLoading="isLoading" v-if="!displayOptions.dashboard || activeStatistic.parameter.dashboard.showTable == 1">

                {% block nfx_analytics_category_impressions_grid_data %}
                    <div v-if="displayOptions.dashboard" class="nfx-analytics-grid-label">
                        {{ $tc(activeStatistic.label) }}
                    </div>

                    <div v-if="!gridSeriesData || (gridSeriesData && gridSeriesData.length == 0)" class="nfx-analytics-empty-state-wrapper">
                        <sw-empty-state :title="$tc('nfx-analytics.index.noData')"></sw-empty-state>
                    </div>

                    <sw-data-grid v-else
                          :dataSource="gridSeriesData"
                          :columns="getGridColumns"
                          :showSelection="false"
                          :showActions="false"
                          :sort-by="sortBy"
                          :sort-direction="sortDirection"
                          @column-sort="onColumnSort"
                    >
                        {% block nfx_analytics_category_impressions_grid_columns_category_name %}
                            <template #column-name="{ item }">
                                <router-link
                                        class="sw-data-grid__cell-value"
                                        :to="{ name: 'sw.category.detail', params: { id: item.id } }">
                                    {{ item.name }}
                                </router-link>
                            </template>
                        {% endblock %}

                        <template #pagination>
                            {% block nfx_analytics_category_impressions_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>

                    </sw-data-grid>
                {% endblock %}

            </sw-card>

            {% block nfx_analytics_category_impressions_help %}
                <sw-alert
                    v-if="!displayOptions.dashboard"
                    :appearance="'notification'"
                    :showIcon="false"
                    :closable="false"
                    :variant="'neutral'"
                    :title="$tc('nfx-analytics.general.help')"
                >
                    <div class="nfx-analytics-description">
                        {{ $tc('nfx-analytics.view.categoryImpressions.description') }}
                    </div>
                </sw-alert>
            {% endblock %}

        {% endblock %}

    </div>
{% endblock %}
